@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

:root {
  --card-bg: #1B2226;
  --primary-text: #FFFFFFE5;
  --primary: #70B5F9;
  --dark-text: #000000BF;
  --secundary-text: #FFFFFF99;
  --input: #38434F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text);
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: var(--card-bg);
  margin-bottom: 1.5rem;
  padding: 0.563rem;
  /* padding: 0.563rem 12.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

header .search-input {
  display: flex;
  gap: 0.5rem;
}

.search-input .label__input {
  display: flex;
}

.label__input label,
.label__input #search {
  background-color: var(--input);
  height: 2.125rem;
  padding: 0.313rem 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.label__input #search {
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 0.875rem;
}

.label__input #search::placeholder {
  color: var(--primary-text);
  font-size: 0.875rem;
}

.label__input #search:focus {
  outline: none;
}

header .navbar {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navbar li {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: var(--primary-text);
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.icon {
  padding: 0.25rem;
}

.navbar li:hover {
  color: var(--secundary-text);
}


.navbar .apps-icon {
  border-left: 1px solid var(--secundary-text);
  padding-left: 0.5rem;
}

main {
  width: 81.2vw;
}

section.profile-info {
  background-color: var(--card-bg);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.profile-info .profile-bg-img {
  height: 14.375rem;
  background: url(../images/profile-bg-img.png) no-repeat center left / cover;
  border-radius: 1rem 1rem 0 0;
}

.profile-info .profile-img {
  position: absolute;
  top: 35%;
  margin-left: 1.5rem;
}

.profile-info .career-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 65%;
  margin-left: 33rem;
}

.career-details .company,
.career-details .institution {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.company h2,
.institution h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.profile-info .personal-info {
  padding: 3.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.personal-info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.personal-info h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.personal-info .talk-about,
.personal-info .locale {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: var(--secundary-text);
}

.locale span {
  cursor: pointer;
}

.locale span,
.connections span {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--primary);
}

.personal-info .connections {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.connections span {
  font-weight: 500;
}

.personal-info .profile-actions {
  display: flex;
  gap: 0.438rem;
}

.profile-actions button {
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--primary);
  padding: 0.375rem 1.813rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--dark-text);
}

.profile-actions .more {
  background-color: transparent;
  padding: 0.375rem 3rem;
  border: 1px solid var(--primary);
  color: var(--primary);
}

section.highlight-posts {
  background-color: var(--card-bg);
  padding: 3.375rem 1rem 1.375rem;
  margin-bottom: 0.875rem;
  border-radius: 1rem;
}

.highlight-posts h2 {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: var(--primary-text);
}

.highlight-posts .posts {
  display: flex;
  gap: 1.125rem;
}

.posts .post {
  width: 14.875rem;
  height: 14.75rem;
  border: 1px solid var(--secundary-text);
  border-radius: 0.5rem;
}

.post .post-text {
  margin: 0.75rem 0 0 0.875rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--secundary-text);
}

.post .post-title {
  margin: 0 0 4px 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--primary-text);
}

.post img {
  width: 100%;
}

.reactions__comments {
  padding: 0 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reactions__comments .reactions {
  display: flex;
  gap: 0.25rem;
}

.reactions p,
.reactions__comments .comments {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--secundary-text);
}

section.activities {
  background-color: var(--card-bg);
  padding: 10px 24px 0;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.activities h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: var(--primary-text);
}

.activities .followers {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--primary);
  margin-bottom: 0.875rem;
}

.activities .activity {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--secundary-text);
}

.activity .posted-by,
.activity .post {
  display: flex;
  gap: 0.5rem;
}

.activity .posted-by {
  gap: 0.25rem;
}

.activity .posted-by p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--secundary-text);
}

.activity .post img {
  width: 4rem;
  height: 4rem;
}

.activity .post .post-text {
  margin: 0;
  font-size: 0.875rem;
  color: #FFF;
}

.activities .all-activities {
  padding: 0.5rem;
  text-align: center;
}

.all-activities p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--secundary-text);
  cursor: pointer;
}

section.about {
  background-color: var(--card-bg);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: var(--primary-text);
}

.about p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #FFF;
}