* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: block;
  padding-bottom: 0.6rem;
}

button {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100vw;
  text-align: left;
}

th {
  padding: 0.8rem 0.5rem;
}

td {
  border: 1px solid lightgray;
  padding: 0.5rem 0.8rem;
}

td:last-child {
  text-align: center;
}

button {
  padding: 0.4rem;
}